**/__pycache__
**/.pytest_cache/
**/resources/images/*
.codex
backend/.env
backend/.envprod
backend/.env.prod
backend/trading_sessions.db
backend/trading_sessions.db-shm
backend/trading_sessions.db-wal
backend/coverage_html
backend/coverage.xml
backend/resources/frontend
backend/venv_new

frontend/.env
frontend/.envprod
frontend/.env.prod
frontend/node_modules
frontend/dist

