**/__pycache__
**/.pytest_cache/
**/resources/images/*
.codex
.claude
AGENTS.md
CLAUDE.md
docs/**

backend/.env
backend/.envprod
backend/.env.prod
backend/trading_sessions.db
backend/trading_sessions.db-shm
backend/trading_sessions.db-wal
backend/coverage_html
backend/coverage.xml
backend/resources/frontend
backend/venv_new
backend/data
backend/logs
backend/.coverage
backend/.coveragerc

frontend/.env
frontend/.envprod
frontend/.env.prod
frontend/node_modules
frontend/dist

auto_test/.env
auto_test/test_screenshots
auto_test/test/trading_sessions.db

